* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Mina", "Blinker", "Roboto", sans-serif;
}
button {
  background-color: rgb(66, 129, 212);
  color: white;
  border: none;
}
body{
  background-color: rgb(13, 13, 43);

}
/* ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; */
